# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual Environments ===
.venv/
.venv*/
env/
venv/

# === Jupyter ===
.ipynb_checkpoints/

# === Data / Datasets ===
data/
*/data/
csv/
*.csv
*.tsv
*.xlsx

# === OS / Misc ===
.DS_Store
Thumbs.db

# === Packages / Binaries ===
*.deb
*.whl
*.tar.gz
*.zip

# === Logs ===
*.log

# MLflow tracking
mlruns/
mlartifacts/
*.sqlite
# Large artifacts / datasets
data/
*.tar.gz
*.zip
*.keras
*.h5
*.pth
*.pt
*.ckpt
